<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/86461d8b85.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/static/main.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>

    <!-- Navbar -->

      <header>
          <nav class="navbar background-mono-800">
              <div class='navbar-logo-wrapper'>
                  <img src='/public/images/sweatbets/sb_logo.svg' alt='SweatBets Logo' />
                </div>
                <div class="navbar-links-wrapper">
                    <div class='navbar-toggle'>
                        <span class='navbar-toggle-dot' />
                        <span class='navbar-toggle-dot' />
                        <span class='navbar-toggle-dot' />
                    </div>
                    <ul class='navbar-links'>
                        <li class='navbar-link mono-100'><a src=''>What is SweatBets?</a></li>
                        <li class='navbar-link mono-100'><a src=''>About</a></li>
                        <li class='navbar-link mono-100'><a src=''>FAQ</a></li>
                        <li class='navbar-link mono-100'><a src=''>Account</a></li>
                    </ul>
                </div>
            </nav>
        </header>

        <!-- Landing Section -->

        <div class='landing-hero-wrapper'>

            <div class='landing-cta-wrapper'>
                <h1 class='mono-100'>Win Money Playing Your Favorite Games.</h1>
                <p class='mono-100'>Payouts up to 20x!</p>
                <button class='landing-cta-btn to-uppercase'>SIGN UP</button>
            </div>

            <div class='landing-dots'>
                
            </div>

        </div>

        <!-- BET -->

        <div class='landing-basic-wrapper'>
            <h2 class='landing-info-header mono-100 to-uppercase'>bet</h2>
            <div class='landing-info-image-wrapper'>
                <img src='/public/images/hero/pc_scene.svg' alt='' />
            </div>
            <p class='mono-100'>Place your bet online.</p>
        </div>

        <!-- PLAY -->

        <div class='landing-basic-wrapper'>
            <h2 class='landing-info-header mono-100 to-uppercase'>play</h2>
            <div class='landing-info-image-wrapper'>
                <img src='/public/images/hero/nes_controller.svg' alt='' />
            </div>
            <p class='mono-100'>Play as you normally would.</p>
        </div>

        <!-- WIN -->

        <div class='landing-basic-wrapper'>
            <h2 class='landing-info-header mono-100 to-uppercase'>win</h2>
            <div class='landing-info-image-wrapper'>
                <img src='/public/images/hero/jackpot.svg' alt='' />
            </div>
            <p class='mono-100'>Win massive payouts!</p>
        </div>

        <!-- PERA WALLET -->

        <div class='landing-basic-wrapper'>
            <h2 class='landing-info-header mono-100 to-uppercase'>connect your pera wallet</h2>
            <div class='landing-info-image-wrapper'>
                <img src='/public/images/brands/pera_logo.svg' alt='' />
            </div>
            <p class='mono-100'>Yep. It’s really that easy. Just create an account, connect your Pera wallet and send Algorand to your SweatBets account.</p>
        </div>

        <!-- FAVORITE GAMES -->

        <div class='landing-basic-wrapper'>
            <h2 class='landing-info-header mono-100 to-uppercase'>play your favorite games</h2>
            <div class='landing-info-dual-image-wrapper'>
                <img src='/public/images/brands/fortnight_logo.svg' alt='FORTNITE Logo' />
                <img src='/public/images/brands/valorant_logo.svg' alt='VALORANT Logo' />
            </div>
        </div>

        <!-- FINAL CTA -->

        <div class='landing-basic-wrapper'>
            <h2 class='landing-info-header mono-100 to-uppercase'>join the fun & win big!</h2>
            <div class='landing-info-image-wrapper'>
                <button class='landing-cta-btn-large to-uppercase'>Sign up</button>
            </div>
        </div>

        <!-- FOOTER -->

        <footer class='background-mono-800'>
            <div class='footer-info-wrapper'>
                <div class='footer-icons-wrapper'>
                    <img class='footer-icon' src='/public/images/brands/discord_logo.svg' alt='Discord Logo' />
                    <img class='footer-icon' src='/public/images/brands/twitter_logo.svg' alt='Youtube Logo' />
                    <img class='footer-icon' src='/public/images/brands/tiktok_logo.svg' alt='Twitter Logo' />
                    <img class='footer-icon' src='/public/images/brands/instagram_logo.svg' alt='Instagram Logo' />
                    <img class='footer-icon' src='/public/images/brands/youtube_logo.svg' alt='TikTok Logo' />
                </div>
                <p class='footer-text mono-200 to-uppercase'>terms and conditions</p>
                <p class='footer-text mono-200 to-uppercase'>Sweatbets LLC</p>
            </div>

        </footer>

        
    </body>



</html>